.disp{
  display:inline-block;
  position:relative;
}

.header-type-2{
  height:69px;
  margin-top:0px;
}

.container-header-t2{
  max-width:1141px;
  margin:0 auto;
  padding:0px;
}

.header-holder-t2{
  text-align:left;
  display:inline-block;
  width:100%;
}

.top-menu-cont{
  vertical-align:top;
  margin-top:33px;
  margin-left:44px;
  /*margin-right:160px;*/
}

.top_menu_links{

}

.top_menu_link{
  font-family: 'Open Sans', sans-serif;
  color:#343434;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  font-weight:400;
  line-height:14px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
  margin-right:24px;
}

.cart_cont{
  vertical-align:top;
  float: right;
}

.cart-col-l{
  width:140px;
  height:auto;
  margin-top:16px;
  margin-right:5px;
  vertical-align:top;
}

.top_cart_text{
  font-family: 'Open Sans', sans-serif;
  color:  #939393;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  line-height:15px;/* Приближение из-за подстановки шрифтов */
  height:15px;
  text-align:right;
  text-transform:uppercase;
  width:100%;
  vertical-align:top;
}

.bottom_cart_text{
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-decoration: underline;
  color:#e21a28;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  line-height:15px;/* Приближение из-за подстановки шрифтов */
  height:15px;
  text-align:right;
  width:100%;
  vertical-align:top;
}

.cart-col-r{
  vertical-align:top;
}

.cart_link{

}

.container-top-links-t2{
  background:url('../images/top-2-bg.png') transparent no-repeat 100% 100%;
  width:100%;
  padding: 45px 10px 41px 10px;
}

.top-links-cont{
  max-width: 1141px;
  margin: 0 auto;
  height:auto;
  padding:0px;
}

.top-link-col{
  width:22%;
  margin-right:2%;
  vertical-align:top;
}

.top-link{
  font-family: 'Open Sans', sans-serif;
  color: #ffffff;
  font-size: 13px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20px;/* Приближение из-за подстановки шрифтов */
  height:auto;
  text-align: left;
  text-transform:uppercase;
  padding-bottom:8px;
  margin-bottom:8px;
  background: url('../images/dot2.png') repeat-x 0% 100%;
  width:100%;
}

.top-link:after{
  content:"";
  background:url('../images/top-link-icon-after.png') transparent no-repeat;
  display:inline-block;
  position:relative;
  width:10px;
  height:5px;
  margin-left:7px;
  line-height:20px;
  vertical-align:middle;
}

.top-link-col > .top-link:last-child {
  background:none;
}

.container-style-2{
  max-width: 1141px;
  margin: 0 auto;
  height:auto;
  padding:0;
}

.top-breadcrumbs-cont{

}

.top-breadcrumbs-cont li{
  margin:19px 0px 33px 0px;
}

.top-breadcrumbs-cont li a{
  font-family: 'Open Sans', sans-serif;
  color:#e21a28;
  font-size:13px;/* Приближение из-за подстановки шрифтов */
  font-style:italic;
  font-weight:normal;
  line-height:20px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
}

.top-breadcrumbs-cont li:last-child a{
  font-family: 'Open Sans', sans-serif;
  color:#423442;
  font-size:13px;/* Приближение из-за подстановки шрифтов */
  line-height:20px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
  font-style:normal;
  font-weight:normal;
}

.col-content-left {
  display: inline-block;
  max-width:750px;
  width: 100%;
  vertical-align:top;
}

.nav-links-cont {
  border-radius: 10px;
  background-color: #f1f1f1;
  height: 44px;
  padding:0 15px;
}

.nav-links-cont a{
  /* Встроенный стиль */
  font-family: 'Open Sans', sans-serif;
  color:  #939393;
  font-size: 13px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  text-transform:uppercase;
  transform: scaleX(1.0012);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  height:44px;
  line-height:44px;
}

.nav-links-cont a.active, .nav-links-cont a:active,.nav-links-cont a:focus,.nav-links-cont a:hover {
  font-family: 'Open Sans', sans-serif;
  color: #1b1b1b;
  font-size: 13px; /* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: left;
  text-transform:uppercase;
  height:44px;
  line-height:44px;
}

.nav-links-cont a:after{
  content:"";
  border-radius:50%;
  background-color:  #e21b28;
  width: 5px;
  height: 5px;
  margin:0 5px;
  line-height:44px;
  display:inline-block;
  position:relative;
  vertical-align:middle;
}

.nav-links-cont a:last-child:after{
  display:none;
}

.col-content-right{
  max-width: 360px;
  vertical-align: top;
  float: right;
  width: 100%;
}

.content-heading{

}

.content-h1{
  font-family: 'Open Sans', sans-serif;
  color:  #343434;
  font-size: 36px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 50px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  transform: scaleX(1.002);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  margin:24px 0 12px 0;
}

.top-rating{
  margin:12px 0 21px 0;
}

.top-rating .rating_count{
  font-family: 'Open Sans', sans-serif;
  color:  #939393;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height: 15px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  vertical-align:top;
}

.top-rating .rating_img{
 width:77px;
 height:12px;
 color:transparent;
 line-height:20px;
}

.top-rating .rating-5{
  background:url('../images/rating-5-bg.png') left center transparent no-repeat;
}

.top-rating .rating-4{
  background:url('../images/rating-4-bg.png') left center transparent no-repeat;
}

.top-rating .rating-3{
  background:url('../images/rating-3-bg.png') left center transparent no-repeat;
}

.top-rating .rating-2{
  background:url('../images/rating-2-bg.png') left center transparent no-repeat;
}

.top-rating .rating-1{
  background:url('../images/rating-1-bg.png') left center transparent no-repeat;
}

.main-content-slider{
  margin:19px 0 26px 0;
}

#item_slider.owl-carousel{

}

.owl-thumbs{
  width:100%;
  text-align:center;
}

.owl-thumbs a{
  margin-right:1%;
  width: 18.6%;
}

.owl-thumbs a:last-child{
  margin-right:0;
}

.owl-thumbs a img{
  max-width:100%;
}

.owl-nav{

}

.owl-nav .owl-prev{
  width:67px;
  height:67px;
  display: inline-block;
  background:url('../images/item_slider_prev_bg.png') center center transparent no-repeat;
  color:transparent;
  position:absolute;
  top:43%;
}

.owl-nav .owl-next{
  width:67px;
  height:67px;
  display: inline-block;
  background:url('../images/item_slider_next_bg.png') center center transparent no-repeat;
  color:transparent;
  position:absolute;
  top:43%;
  right: 0;
}


.main-content-description{
  margin-bottom:30px;
  height: 660px;
  overflow: hidden;
}

.main-content-description:after{
  content:url('../images/main-desc-bottom-bg.png');
  position:absolute;
  display: inline-block;
  top:605px;
}

.main-content-description.fullview:after{
  display:none;
}

.main-content-description.fullview{
  overflow:visible;
}

.main-content-description p{
  font-family: 'Open Sans', sans-serif;
  color:#000000;
  font-size:15px;/* Приближение из-за подстановки шрифтов */
  line-height:24px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
}

.main-content-description span.heading{
  font-family: 'Open Sans', sans-serif;
  color:#1b1b1b;
  font-size:20px;/* Приближение из-за подстановки шрифтов */
  font-weight:700;
  line-height:24px;/* Приближение из-за подстановки шрифтов */
  height:40px;
  text-align:left;
  text-transform:uppercase;
  width:100%;
  display:inline-block;
  position:relative;
  margin:30px 0 16px 0;
  padding-bottom:16px;
  border-bottom:1px dashed #c9c9c9;
}

.main-content-description ol{
  /*list-style:decimal outside url('../images/ol-li-bg.png');*/
}

.main-content-description ol li{
  background: url('../images/ol-li-bg.png') left center no-repeat transparent;
  padding-left:37px;
  font-family: 'Open Sans', sans-serif;
  color:  #000000;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  margin-bottom:20px;
}

.main-content-description ol li:first-child{
  background: url('../images/ol-li-bg-1.png') left center no-repeat transparent;
}

.main-content-description ol li:nth-child(2){
  background: url('../images/ol-li-bg-2.png') left center no-repeat transparent;
}

.main-content-description ol li:nth-child(3){
  background: url('../images/ol-li-bg-3.png') left center no-repeat transparent;
}

.main-content-description ol li:nth-child(4){
  background: url('../images/ol-li-bg-4.png') left center no-repeat transparent;
}

.main-content-description ol li:nth-child(5){
  background: url('../images/ol-li-bg-5.png') left center no-repeat transparent;
}

.desc_link_more_cont{
  width:100%;
  text-align:right;
  padding-right:7px;
}

.desc_link_more{
  font-family: 'Open Sans', sans-serif;
  color: #e21a28;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  font-weight:700;
  line-height:16px;/* Приближение из-за подстановки шрифтов */
  text-decoration: underline;
}

.desc_link_more:after{
  content:"";
  background: url('../images/more_link_after_bg.png') center center no-repeat transparent;
  height:7px;
  width:11px;
  display:inline-block;
  position:relative;
  margin-left:7px;
}

.item_services{
  margin:50px 0;
}

.item_services_heading{
  width:100%;
  padding-bottom:11px;
  margin-bottom:11px;
  border-bottom:1px dashed #e21b28;
  font-family: 'Open Sans', sans-serif;
  color: #343434;
  font-size:28px;/* Приближение из-за подстановки шрифтов */
  font-weight: 300;
  line-height:50px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
  transform:scaleY(1.0006);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.services_inputs_cont{
  margin-bottom:34px;
}

.services_row{
  height:60px;
  line-height:60px;
  width:100%;
  border-bottom: 1px solid #d4d4d4;
}

.services_row:last-child{
  border-bottom:0;
}

.services_row input[type="checkbox"]{
  margin-right:24px;
  color:#5cc63f;
}

.services_row input[type="checkbox"]:checked{
  color:#5cc63f;
}

.services_row label {
  font-family:'Open Sans', sans-serif;
  color:#000000;
  font-size:15px; /* Приближение из-за подстановки шрифтов */
  line-height:60px; /* Приближение из-за подстановки шрифтов */
  text-align:left;
  transform:scaleY(1.0018); /* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.select_label{
  position: absolute;
  right: 0;
  vertical-align:top;
  font-family:'Open Sans', sans-serif;
  color: #000000;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  transform: scaleY(1.0018);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  display:inline-block;
  top: -50%;
}



.services_row select{
  /*margin-left:37%;*/
  float: right;
  margin-top: 17px;
  vertical-align:middle;
  display:inline-block;
  position:relative;
  min-width:111px;
  height:34px;
  line-height:34px;
}


.buy_links_cont{
  width:100%;
  text-align:right;
  vertical-align:top;
}

.link_buy_service_cart{
  border-radius: 10px;
  background:url('../images/service-cart-bt-bg.png') center center no-repeat #e21b28;
  width: 70px;
  height: 49px;
  vertical-align:top;
}

.link_buy_service_now{
  border-radius: 10px;
  background-color:  #e21b28;
  width: 360px;
  height: 49px;
  line-height:49px;
  font-family:'Open Sans', sans-serif;
  color:  #ffffff;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  vertical-align:top;
  text-transform:uppercase;
}

.video-reviews{
  text-align:center;
  margin-bottom:47px;
}

.video-reviews-heading{

}

.video-review-left-col,.video-review-right-col {
  width: 47.6%;
  vertical-align:top;
}

.video-review-left-col{
  margin-right:30px;
  margin-top:31px;
}

.video-review-right-col{
  margin-top:31px;
}

.video_content{
  margin-bottom:13px;
  vertical-align:top;
}

.video_content a, .video_content iframe, .video_content img, .video_content video{
  max-width:100%;
}

.video_text{
  display:inline-block;
  position:relative;
  width:100%;
  font-family:'Open Sans', sans-serif;
  color:#000000;
  font-size:16px;/* Приближение из-за подстановки шрифтов */
  line-height:24px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
  transform:scaleY(1.0018);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
}

.reviews_text_block{

}

.reviews_text_block_heading{

}

.reviews_stats{
  border-radius:10px;
  background-color:#f6f6f6;
  width:100%;
  height:78px;
  margin-bottom:15px;
}

.review_avg{
  width:135px;
  height:78px;
  line-height:78px;
  margin-right: 18%;
}

.rating_avg_value{
  display:inline-block;
  position:relative;
  font-family:'Open Sans', sans-serif;
  color:  #1b1b1b;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height:78px;/* Приближение из-за подстановки шрифтов */
  height:78px;
  text-align: left;
  transform: scaleY(1.0018);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  vertical-align: middle;
}

.reviews_stats .rating_img{
 width:77px;
 height:12px;
 color:transparent;
 line-height:78px;
 vertical-align:middle;
 margin:0 12px;
}

.reviews_stats .rating-5{
  background:url('../images/rating-5-bg.png') left center transparent no-repeat;
}

.reviews_stats .rating-4{
  background:url('../images/rating-4-bg.png') left center transparent no-repeat;
}

.reviews_stats .rating-3{
  background:url('../images/rating-3-bg.png') left center transparent no-repeat;
}

.reviews_stats .rating-2{
  background:url('../images/rating-2-bg.png') left center transparent no-repeat;
}

.reviews_stats .rating-1{
  background:url('../images/rating-1-bg.png') left center transparent no-repeat;
}

.other_stat_div{
  display:inline-block;
  position:relative;
  vertical-align:middle;
  height:78px;
  width:20%;
  text-align:left;
  padding-top:15px;
}

.other_stat_div span.other_stat_label{
  font-family:'Open Sans', sans-serif;
  color:  #1b1b1b;
  font-size:14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-transform:uppercase;
}

.other_stat_div .rating_img{
  margin:0;
}

.review_text_sort_link{
  width:100%;
  text-align:right;
  margin-bottom:19px;
}

.reviews_sort_link{
  font-family:'Open Sans', sans-serif;
  color:  #e21a28;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 20px;/* Приближение из-за подстановки шрифтов */
  text-decoration: underline;
  text-align: right;
  transform: scaleY(1.0006);/* свойства ширины и высоты были исключены, поскольку было выполнено трансформирование */
  text-transform:uppercase;
}

.reviews_sort_link:after{
  content:"";
  background:url('../images/sort_link_bg.png') transparent no-repeat;
  display:inline-block;
  position:relative;
  width:10px;
  height:6px;
  margin-left:7px;
  line-height:20px;
  vertical-align:middle;
}

.text_review_item{
  padding:17px 0;
  width:100%;
  border-bottom:1px solid #d4d4d4;
}

.text_review_item:last-child{
  margin-bottom:24px;
}

.t_rev_l_col{
  margin-right:18px;
  width:66px;
  vertical-align:top;
}

.t_rev_r_col{
  width:88%;
  vertical-align:top;
}

.t_rev_name{
  font-family:'Open Sans', sans-serif;
  color:  #000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.t_rev_r_col .rating_img{
  width:77px;
  height:12px;
  color:transparent;
  line-height:78px;
  vertical-align:middle;
  margin:0 12px;
}

.t_rev_r_col .rating-5{
  background:url('../images/rating-5-bg.png') left center transparent no-repeat;
}

.t_rev_r_col .rating-4{
  background:url('../images/rating-4-bg.png') left center transparent no-repeat;
}

.t_rev_r_col .rating-3{
  background:url('../images/rating-3-bg.png') left center transparent no-repeat;
}

.t_rev_r_col .rating-2{
  background:url('../images/rating-2-bg.png') left center transparent no-repeat;
}

.t_rev_r_col .rating-1{
  background:url('../images/rating-1-bg.png') left center transparent no-repeat;
}

.t_rev_text{
  font-family:'Open Sans', sans-serif;
  color: #000000;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  width:100%;
}

.t_rev_date{
  font-family:'Open Sans', sans-serif;
  color: #939393;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 24px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
}

.t_rev_links_cont{
  width:60%;
}

.t_rev_link{
  font-family:'Open Sans', sans-serif;
  color: #939393;
  font-size:13px;/* Приближение из-за подстановки шрифтов */
  font-style:italic;
  line-height:20px;/* Приближение из-за подстановки шрифтов */
  text-align:left;
}

.t_rev_link_more_cont{
  text-align:left;
}

.t_rev_link_more_cont .t_rev_links_cont{
  vertical-align:top;
}

.t_rev_link_more_cont .desc_link_more{
  vertical-align:top;
  float:right;
}

.t_rev_link_more_cont{
  margin-bottom:68px;
}

.item_like_box{
  margin-bottom:28px;
  text-align:right;
}

.item_like_box a{
  font-family:'Open Sans', sans-serif;
  color:  #423442;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  text-align: left;
  height:34px;
  line-height:34px;
}

.item_like_box a:first-child{
  background:url('../images/item_lile_box_bg.png') 11px center rgba(0, 184, 191, 0) no-repeat;
  border-radius: 4px;
  border: 1px solid #a59ea5;
  width:116px;
  padding-left:40px;
}

.item_like_box a:last-child{
  background:url('../images/item_like_box_2_bg.png') center center rgba(0, 184, 191, 0) no-repeat;
  width: 76px;
  text-align:center;
}

.item_right_form_box{
  border-radius: 10px;
  border: 1px dashed #c4c4c4;
  width: 358px;
  height: 374px;
  padding:31px 14px;
  margin-bottom:34px;
}

.item_right_form_box label{
  font-family:'Open Sans', sans-serif;
  color:  #939393;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  line-height: 15px;/* Приближение из-за подстановки шрифтов */
  height:15px;
  text-align: center;
  width:100%;
  display: inline-block;
  position: relative;
  margin-bottom:9px;
}

.item_right_form_box input {
  border-radius: 10px;
  border:1px solid #939393;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 332px;
  height: 40px;
  line-height:40px;
  text-align:left;
  font-family:'Open Sans', sans-serif;
  color:  #939393;
  font-size: 14px;
  padding-left:45px;
  margin-bottom:19px;
}

.item_right_form_box input#item_right_form_input_1 {
  background:url('../images/right_form_box_input_bg_1.png') 11px center transparent no-repeat;
}

.item_right_form_box input#item_right_form_input_2 {
  background:url('../images/right_form_box_input_bg_2.png') 11px center transparent no-repeat;
}

.item_right_form_box input#item_right_form_input_3 {
  background:url('../images/right_form_box_input_bg_3.png') 11px center transparent no-repeat;
  margin-bottom:24px;
}

.item_right_form_submit_link{
  border-radius: 10px;
  background-color: #e21b28;
  width: 332px;
  height: 49px;
  line-height:49px;
  font-family:'Open Sans', sans-serif;
  color:  #ffffff;
  font-size: 18px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  text-align: center;
  text-transform:uppercase;
}

.item_right_form_submit_link:hover {
  color: #f2f2f2;
  background: #b41620;
}

.fb_box{
  border-radius:10px;
  border:1px solid #c4c4c4;
  box-sizing:border-box;
  background-color:#ffffff;
  width:360px;
  height:279px;
  padding:12px;
  margin-bottom:34px;
}

.fb_box a.soc_toggler{
  width: 153px;
  height: 37px;
  color:transparent;
  margin-bottom:16px;
}

.fb_box a.soc_toggler:first-child{
  background:url('../images/fb_button_toggler_bg.png') center center transparent no-repeat;
  margin-right:22px;
}

.fb_box a.soc_toggler_vk{
  background:url('../images/vk_button_toggler_bg.png') center bottom transparent no-repeat;
}

.consultant_box{
  border-radius: 10px;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  background-color:  #ffffff;
  width: 360px;
  height: 503px;
  padding: 12px 0px;
  margin: 20px 0;
}

.cons_row_1{
  width:93%;
  padding:0 0 16px 0;
  border-bottom:1px solid #e3e3e3;
  margin:0 12px;
}

.cons_l_col,.cons_r_col{
  width:49%;
  vertical-align:top;
}

.cons_l_col{

}

.cons_r_col{

}

.cons_status{
  width:100%;
  font-style:italic;
  font-family:'Open Sans', sans-serif;
  font-size: 13px;
  color:  #343434;
  text-align:right;
  background:url('../images/cons_status_bg.png') right center transparent no-repeat;
  padding-right:20px;
}

.cons_name{
  margin:10px 0 10px 0;
  font-family:'Open Sans', sans-serif;
  color:  #343434;
  font-size: 20px;
  font-weight:700;
}

.cons_work{
  font-family:'Open Sans', sans-serif;
  margin-bottom:10px;
  color:  #343434;
  font-size: 14px;
}

.cons_rate_text{
  color:#939393;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  width:100%;
}


.consultant_box .rating_img{
  width:77px;
  height:12px;
  color:transparent;
  line-height:78px;
  vertical-align:middle;
  margin:0;
}

.consultant_box .rating-5{
  background:url('../images/rating-5-bg.png') left center transparent no-repeat;
}

.consultant_box .rating-4{
  background:url('../images/rating-4-bg.png') left center transparent no-repeat;
}

.consultant_box .rating-3{
  background:url('../images/rating-3-bg.png') left center transparent no-repeat;
}

.consultant_box .rating-2{
  background:url('../images/rating-2-bg.png') left center transparent no-repeat;
}

.consultant_box .rating-1{
  background:url('../images/rating-1-bg.png') left center transparent no-repeat;
}

.consultant_box .rating_value{
  color:#1b1b1b;
  font-family:'Open Sans', sans-serif;
  font-size: 14px;
  font-weight:bold;
  margin-left:8px;
}

.cons_row_2{
  width:93%;
  padding:0 0 16px 0;
  border-bottom:1px solid #e3e3e3;
  margin:10px 12px;
}

.cons_l_col_2,.cons_r_col_2{
  width:49%;
  vertical-align:top;
}


.cons_row_2 .c_label{
  font-family:'Open Sans', sans-serif;
  color:  #939393;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  width:100%;
  vertical-align:top;
}

.cons_row_2 .c_value{
  font-family:'Open Sans', sans-serif;
  color:  #000000;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
  vertical-align:top;
}
.cons_row_3{
  width:93%;
  padding:0 0 16px 0;
  margin:10px 12px;
}
.cons_row_3 .c_desc{
  font-family:'Open Sans', sans-serif;
  color:  #000000;
  font-size: 15px;/* Приближение из-за подстановки шрифтов */
  font-weight: 400;
  text-align: left;
}

.c_more_link{
  font-family:'Open Sans', sans-serif;
  color:  #e21a28;
  font-size: 14px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 16px;/* Приближение из-за подстановки шрифтов */
  text-decoration: underline;
  text-align: center;
  text-transform: uppercase;
  width:100%;
  background:url('../images/c_more_bg.png') 12% center transparent no-repeat;
  margin:20px 0 20px 0;
}

.c_contact{
  border-radius: 10px;
  background-color:  #fcaf17;
  width: 244px;
  height: 49px;
  font-family:'Open Sans', sans-serif;
  color:  #1b1b1b;
  font-size: 16px;/* Приближение из-за подстановки шрифтов */
  font-weight: 700;
  line-height: 49px;/* Приближение из-за подстановки шрифтов */
  text-align: center;
}

.c_contact:hover {
  background: #d79d2c;
}

.c_contact_cont{
  text-align: center;
  width:100%;
}

.services-slider h3, .aside-block h3 {
  font-weight: 300;
  margin-bottom: 35px;
  font-size: 28px;
  line-height: 50px;
  background: url(../images/dashed-red.png) bottom left repeat-x;
}

.services-slider {
  padding-bottom: 80px;
}

.aside-block.last-news .tumbnail {
  margin-bottom: 20px;
}

.services-slider .tumbnail-news{
  min-height: 250px;
}


.services-slider .swiper-news .swiper-news-prev {
  left: 0;
}

.services-slider .swiper-news .swiper-news-next {
  right: 0;
}

.header-type-2+.main {
  display: block;
  padding-top: 53px;
}

.tumbnail-bottom {
  width: 100%;
} 

@media screen and (max-width: 1150px) {
  .top-link {
    font-size: 11px;
  }
  .col-content-right {
    display: none;
  }
  .col-content-left {
    display: block;
    margin: auto;
  }
      
}

@media screen and (max-width: 980px) {
  .top-menu-cont {
    margin-left: 0;
  }
  .top_menu_link {
    margin-right: 10px;
  }
  .top-link {
    margin-bottom: 3px;
  }
  .services-slider .tumbnail-news {
    min-height: 210px;
  }
}

@media screen and (max-width: 900px) {
  .top-link-col {
    width: 45%;
  }
  .container-top-links-t2 {
    background-size: cover;
  }
  .top_menu_link  {
    display: block;
    padding: 15px 0;
    margin: 0;
  }
  .top_menu_links {
    position: fixed;
    display: none;
    top: 68px;
    z-index: 100;
    background: white;
    padding: 10px;
    border-radius: 0 0 10px 10px;
  }
  .top-menu-cont .burger-btn {
    display: block;
    top: -20px;
    left: 25px;
  }
  .top-menu-cont .opened {
    display: block;
    transition: all 1s;
    /*top: -20px;*/
    /*left: -80px;*/
  }
}

@media screen and (max-width: 760px) {
  .video-review-left-col, .video-review-right-col {
    width: 100%; 
    margin: 0;
    margin-bottom: 30px;
  }
  .services-slider .tumbnail-news {
    min-height: 170px;
  }
  .video_text {
    text-align: center;
  }
  .reviews_stats {
    height: auto;
    text-align: center;
  }
  .reviews_stats .disp.review_avg {
    border: 1px solid gray;
    border-radius: 10px;
  }
  .reviews_stats .disp {
    margin: auto;
    width: 48%;
    text-align: center;
  }
  .reviews_stats .disp a{
    width: 100%;
  }
  .reviews_stats .disp a .rating_img{
    background-position: center;
    background-size: contain; 
  }
}

@media screen and (max-width: 670px) {
  .owl-thumbs a {
    width: 18%;
  }
  .nav-links-cont a {
    font-size: 10px;
  }
  .services_row select {
    min-width: inherit;
  }
}

@media screen and (max-width: 530px) {
  .link_buy_service_now, .link_buy_service_cart {
    font-size: 14px;
    width: 100%;
    border-radius: 0;
    /*max-width: 360px;*/
  }
  .buy_links_cont {
    border-radius: 10px;
    overflow: hidden;
  }
  .services-slider h3, .aside-block h3 {
    line-height: 25px;
    /*padding-bottom: 20px;*/
    font-size: 20px;
  }
  .t_rev_r_col {
    width: 100%;
  }
  .main-content-description span.heading {
    font-size: 18px;
    height: 50px;
  }
   .services_row select {
   display: block;
   margin: 0;
   margin-bottom: 10px;
   float: inherit;
 }
 .services_row {
   height: auto;
 } 
 .select_label {
  display: none;
 }
}

@media screen and (max-width: 480px) { 
  .top-breadcrumbs-cont li a, .top-breadcrumbs-cont li:last-child a {
    font-size: 7px;
  }
  .top-breadcrumbs-cont li {
    margin: 10px 0;
  }
  .services_row label, .t_rev_text {
    font-size: 12px;
  }
  .top-link-col {
    width: 100%;
  }
  .container-top-links-t2 {
    padding-bottom: 10px;
  }
  .top_cart_text {
    font-size: 12px;
  }
  .top-menu-cont .burger-btn {
    top: 5px;
    left: 0;
  }
}

@media screen and (max-width: 390px) { 
  .nav-links-cont {
    height: auto;
  }
  .top_menu_links {
    left: 0;
    right: 0;
  }
  .top_menu_links a {
    text-align: center;
  }
  .logo_cont {
    z-index: 200;
  }
  .nav-links-cont a {
    width: 100%;
    height: auto;
    line-height: 28px;
  }
  .cart-col-l {
    width: 120px;
  }
  .services_row select {
    margin: -10px auto 10px;
  }
  .nav-links-cont a:before{
    content:"";
    border-radius:50%;
    background-color:  #e21b28;
    width: 5px;
    height: 5px;
    margin:0 5px;
    line-height:44px;
    display:inline-block;
    position:relative;
    vertical-align:middle;
  }

  .nav-links-cont a:after{
    display: none;
  } 
}