.headerFlex {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-direction: column;
  flex-direction: column; }

.header {
  width: 100%;
  background: #fff;
  margin-top: 0;
  position: relative; }

.headerFirstline {
  height: 96px;
  width: 85%;
  max-width: 1170px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  padding-top: 51px;
  position: relative;
  padding-left: 110px;
  padding-right: 50px; }
  @media screen and (max-width: 1366px) {
    .headerFirstline {
      padding-left: 88px;
      padding-right: 37px; } }
  @media screen and (max-width: 1240px) {
    .headerFirstline {
      padding-left: 80px;
      max-width: 1000px; } }
  @media screen and (max-width: 768px) {
    .headerFirstline {
      padding-left: 0;
      max-width: 760px; } }

.headerRedline {
  height: 35px;
  background: url("../images/fon_slider3.jpg");
  width: 100%;
  background-size: cover; }

.headerLink {
  font: 700 14px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 22px;
  color: #343434;
  margin-left: 20px; }
  @media screen and (max-width: 1366px) {
    .headerLink {
      margin-left: 12px;
      font: 700 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @media screen and (max-width: 1240px) {
    .headerLink {
      margin-left: 8px;
      font: 600 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @media screen and (max-width: 768px) {
    .headerLink {
      margin-left: 8px;
      font: 500 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; } }
  @media screen and (max-width: 480px) {
    .headerLink {
      margin-left: 6px;
      font: 500 12px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; } }

.headerLink:first-child {
  margin-left: 0; }

.headerLink3 {
  margin-left: auto; }

.headerLinkUnderLogo {
  width: 160px; }

.headerLogo {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border-bottom: 5px solid #b32932;
  position: absolute;
  transform: translate(-50%, 0);
  left: 50%;
  background: #fff;
  top: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-align: center;
  align-items: center; }

.borderBotoom {
  border-bottom: 3px solid #b32932; }

.oneSection {
  width: 1170px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center; }

.firstDesctop {
  margin-top: 35px;
  margin-bottom: 34px; }

.firstDesktop__content {
  width: 66%; }

.span_correct {
  margin-bottom: 6px;
  margin-left: 10px; }

.span_correct2 {
  margin-bottom: 0;
  margin-left: 12px; }

.firstDesctop_image_ok {
  margin-left: 14px;
  margin-bottom: 4px; }

.firstDesktop_title {
  font: bold 20px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 24px;
  padding-bottom: 20px;
  border-bottom: 2px dashed #c9c9c9; }

.firstDesktop_title_span {
  margin-left: 5px; }

.firstDesktop_text {
  font: 400 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 27px; }

.secondDesctop {
  -ms-flex-direction: column;
  flex-direction: column; }

.secondDesktop_title {
  font: 400 28px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding-bottom: 10px;
  border-bottom: 2px dashed #e21b28;
  margin-bottom: 38px;
  padding-left: 21px;
  letter-spacing: -1px; }

.secondDesctop_slider {
  margin-bottom: 70px; }

.thirdDesctop {
  margin-bottom: 145px; }
